*{
    margin: 0px;
    padding: 0px; 
    *border: 1px solid black;  
}
h1 { 
    height: 200px; 
    display:flex;
    justify-content: center;
    padding: 30px;
}


nav {
    background-color: red;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: center; 
}

nav ul li {
    padding: 0px 10px;
}

nav ul li a {
    height: 50px;
    width: 150px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
}

nav ul li a:hover {
    color: red;
    background-color: white;
}

h2 {
    font-family: Libre Baskerville;
}

p {
    font-family: Poppins;
}

section {
padding-top: 20px;
margin: 0px 150px;
}

#productos div {
    height: 300px;
    width: 150px;
    display:inline-block;
    margin-left: 100px;
}
